body{
    background-color: #FAFAFA;

}

.topo{
    width: 100%;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
}

.topo h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
}
.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    margin-top:7px;
}
.criarquizz{
    height: 181px;
    width: 1051px;
    border-radius: 5px;
    border: 1px dashed #d5d5d5;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt{
    width: 250px;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 23px;
    color: #b9b9b9;
    display: flex;
    text-align: center;
}
.botaoquizz{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ion-icon{
    color:#EC362D;
    width: 31px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 17px;
}
.seus-conteudos {
    width: 1050px;
    height: 50px;
    margin-top: 13px;
}

.botaoquizz p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    text-align: center; 
    color: #EC362D ;

}
.totalquizz{
    width: 1050px;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.totalquizz p{
    font-family: 'Robot',sans-serif;
    width: 158px;
    height: 23px;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
}
.txt-todos{
    width: 100%;
}
.quizz{
    position: relative;
    display: inline;
}    

.text-seus {
    display: flex;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    align-items: center;

}

.seusquizz {

    width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 69px;
}
.quizz{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.quizz img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
.quizz label{
    bottom: 0;
    position: absolute;
    height: 54px;
    width: 301px;
    font-family: 'Roboto',sans-serif;
    border-radius: nullpx;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-left: 18px;  
    color:#FFFFFF;
    
}
.gradiant-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0)0%,rgba(0,0,0,0.5)64.58%,#000000 100%);
}

.escondido {
    display: none;
}

.quizzimg{
    width: 100%;
    height: 227px;
    position: absolute; 
    color: rgba(0,0,0,0.6);
    object-fit: cover;
 
}
.quizzimgnomobile{
  display: none;
  background: #00000099;
  position: absolute;
  width: 100%;
  height: 142px;
  left: 0px;
  top: 69px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  object-fit: cover;
}

.titulodoquizz p{
    position: relative;
    z-index: 1;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
    top:87px;
}



.perguntas{
  margin-top: 182px; 
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.pergunta{
    height: 676px;
    width: 759px;
    background-color:  #FFFFFF;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textodapergunta{
    width: 688.16px;
    height: 137.99px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.textodapergunta p{
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

}

.respostas{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
    width: 688.16;
}


.imgresposta img{
    Width: 329px;
    Height:175.2px;
   object-position: cover;
}



.imgresposta p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: #000000;
  
}
.certa p{
   color: greenyellow;
}
.erou p{
    color:  #FF4B4B;
    ;
}
.naoselecionada{
    opacity: 0.3;
}

.resultado{
    Width: 759px;
    Height:430px;
    background-color: #FFFFFF;
    margin-top: 44px; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.porcentagem{
    background: #EC362D;
    Width:727px;
    Height:99px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porcentagem p{
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color:#FFFFFF;
}

.resultadotxt{
    display: flex;
    Width:727px;
}

.resultadotxt p{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 21px;
}

.resultadotxt img{
    width: 364px;
    height: 273px;
}

.reiniciaquizz{
    background: #EC362D;
    border:#EC362D ;
    width: 260.38px;
    height: 52px;
    border-radius: 15px;
    margin-top: 57px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color:#FFF5F4;
}

.finaall{
    display: flex ;
    justify-content: center;
    align-items: center;
}

.voltaprahome{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color:#818181;
    margin-top: 20px;
    margin-bottom: 85px;
}

.criacao , .criacaoPerg, .criacaoNiveis , .finalizarCriacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.criacao p {
    font-size: 23px;
    font-weight: 700;
    font-family: Roboto;
    line-height: 27px;
    color:#000000;
    margin-top: 71px;
}

.dados {
    background-color: #FFFFFF;
    width: 600px;
    height: 256px;
    margin-top: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 528px;
    height: 22px;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding: 11px;
    margin-bottom: 9px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.prosseguir , .prosseguirPerg , .finalizar{
    background-color: #EC362D;
    width: 368.86px;
    height: 54px;
    color:#FFF5F4;
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    line-height: 24.61px;
    border-radius: 15px;
    margin-top: 85px;
   

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.titulocrie , .textoNivel , .texto-pronto {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;

    margin-top: 63px;
}

.pergunta1, .resposta1 ,.incorretas1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 27px;
    margin-left: 17px;
}

.caixa1 {
    background-color: #FFFFFF;
    width: 600px;
    margin-top: 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}

.caixa1 p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.caixa2  , .caixa2-pai , .caixa3-pai {
    background-color: #FFFFFF;
    width: 601px;
    height: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta2 , .caixa2-filho ,.caixa3-filho{
    background-color: #FFFFFF;
    width: 553px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.caixa1 input, .caixa1-filho input {
    margin-bottom: 14px;
}
.prosseguirPerg {
    margin-top: 81px;
    margin-bottom: 15px;
}
.caixa1-pai {
    width: 600px;
    height: 316px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 43px;
}
.caixa1-filho {
    margin-left: 16px;
}

.caixa1-filho p {
    margin-bottom: 12px;
}


.finalizar {
    margin-top: 75px;
    margin-bottom: 15px;
}

.resultadoFinal {
    background-color: pink;
    width: 500px;
    height: 266px;
    border-radius: 5px;
    margin-top: 46px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.Acesso {
    background-color: #EC362D;
    width: 220px;
    height: 44px;
    color: #FFF5F4;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    border-radius: 15px;

    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.Voltar {
    width: 219.64px;
    height: 44px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    color: #818181;
}


@media(max-width:1100px){  

    body{
        width: 100%;
    }

    body{
        width: 100%;
    }

 .criarquizz{
    width: 340px;
    height: 181px;
    margin-top: 30px;
    margin-bottom: -40px;
 }
 .totalquizz{
    width: 340px;
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-bottom: 100px;
}


.criacao, .criacaoPerg, .criacaoNiveis , .finalizarCriacao {
    width: 375px;
    display: flex;
    justify-content: center;
}


.caixa1 , .caixa2 , .caixa3 , .caixa1-pai , .caixa2-pai , .caixa3-pai , .dados{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.caixa2-filho , .caixa3-filho , .pergunta2 , .pergunta3 {
    width: 343px;
    margin-left: 16px;
}

input {
    width: 320px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prosseguir , .prosseguirPerg , .finalizar {
    width: 324px;
    margin-bottom: 61px;
}

.quizzimg{
 display: none;
}
.quizzimgnomobile{
    display: flex;
}
.titulodoquizz p{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.perguntas{
    width: 100%;
    margin-top: 96px;
    align-items: center;
}
.pergunta{
    width: 100%;
    background-color: #FFFFFF;
    height: 436px;
    width: 375px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.textodapergunta{
    height: 89px;
    width: 340px;
    margin-top: 18px;
}
.textodapergunta p{
     font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.respostas{
    display: flex;
    flex-wrap: wrap;
    width: 340px;
}
.respostas img{
    height: 113px;
    width: 164px;
}
.respostas p{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    width: 163px;
}
.resultado{
    width: 100%;  
    justify-content: space-around;
    height: 500px;
    width:  100%;
    background-color: #FFFFFF;

}
.porcentagem{
    width: 340px;
    height: 99px;
    
}
.porcentagem p{
    margin-left: 16px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}
.resultadotxt{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.resultadotxt img{
    width: 340px;
    height: 255px;
    margin-bottom: 9px;
}
.resultadotxt p{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    width: 340px;
}
.reiniciaquizz{
    height: 44px;
    width: 220.32000732421875px;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.voltaprahome{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
   letter-spacing: 0em;
text-align: center;

}
}